
.navbar-container{
    margin-top: 0px;
    background-color:#bfe0f7;
}
.navbar-container:hover{
    transform: translateY(0px);
    box-shadow: 0 8px 25px rgba(0, 234, 255, 0.2); /* Glowing cyan shadow */
}
ul{
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    height: 55px;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    z-index: 1;
    color: black;
    text-shadow: 0 0 10px rgba(0, 234, 255, 0.6); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
}
li{
    list-style-type: none;
}

.logo{
    background-image: url("Logo.png");
    background-size: 79px;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 47px;
    height: 47px;
    border: 2px solid black;
    border-radius: 50%;
    padding-top: 0px;
}

